# Folder
/data/
side_processing/old
outputs/*
singularity/*
wandb*
*new/
logs*
figures
archive
results
# Files
*__pycache*
*_linear.yaml
deep_eit.*
evaluation.py
generate_figures.py
*_new*
playground*
preprocess_real_data.ipynb
testing_and_plotting*
*.gif
